.mainContainer {
  padding: 30px 0px;
  display: flex;
  flex-flow: row nowrap;
}

.timerContainer {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hostContainer {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.hostInner {
  flex: 1 0 500px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 50px;
}

.eventName {
  font-size: 60px;
  margin: 0;
}
