.mainContainer {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.innerContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.digitContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.digitValue {
  font-size: 60px;
  margin-bottom: -10px;
}

.digitTitle {
  font-size: 17px;
}
