.mainContainer {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.innerContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.digitContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.digitValue {
  font-size: 85px;
  margin-bottom: -20px;
}

.digitTitle {
  font-size: 19px;
}
